.item {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px 12px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
  background-color: white;
  margin: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.item img {
  width: 40%;
  height: 15rem;
  object-fit: cover;
}

.content {
  width: 55%;
  padding: 1rem 0.5;
}

.summary {
  font-size: 1.25rem;
  font-weight: bold;
  color: #333;
  padding: 1rem 0;
}

.summary h2 {
  margin: 0;
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 1rem;
}

.date {
  font-size: 1rem;
  color: black;
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.address {
  display: flex;
  gap: 0.5rem;
  font-size: 1rem;
  color: #888;
}

.actions {
  display: flex;
  margin-top: 1rem;
  justify-content: right;
}
